<% content_for(:title) do %>
  <%= @cocktail.name %> is on Mr.Cokctail
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>

      <% if @cocktail.picture? %>
        <%= cl_image_tag @cocktail.picture.path, :radius=>"max", :background=>"#F4F4F4", width: 500, height: 500, crop: :thumb, gravity: :face %>
      <% end %>


      <%= link_to 'New dose', new_cocktail_dose_path(@cocktail), class: "btn btn-info" %>
      <%= link_to 'Add review', new_cocktail_review_path(@cocktail), class: "btn btn-success" %>

      <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>

      <div class="margin-top">
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> of <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %>
            <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn btn-danger" %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="margin-top">
        <ul>
          <% @cocktail.reviews.each do |review| %>
          <li>
            <%= review.content %>
            <%= "â­" * review.rating %>
            <%= link_to "Delete", review_path(review), method: :delete, class: "btn btn-danger" %>
          </li>
          <% end %>
        </ul>
      </div>



    </div>
  </div>
</div>



